/* You can add global styles to this file, and also import other style files */


:root {
  --lpx-theme-light-bg: url('assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('assets/images/login/login-bg-img-dark.svg');

  --lpx-logo-icon: url('assets/images/logo/icon.png');
  --lpx-logo-url: var(--lpx-logo-icon);
  --lpx-logo: var(--lpx-logo-icon);

  .abp-logo {
    background-repeat: no-repeat;
  }
  .lpx-nav-menu .lpx-menu-item-link.selected .lpx-menu-item-icon,
  .lpx-nav-menu .lpx-menu-item-link.selected .dd-icon,
  .lpx-nav-menu .lpx-menu-item-link.expanded .lpx-menu-item-icon,
  .lpx-nav-menu .lpx-menu-item-link.expanded .dd-icon,
  .lpx-nav-menu .lpx-menu-item-link:hover .lpx-menu-item-icon,
  .lpx-nav-menu .lpx-menu-item-link:hover .dd-icon {
    color: #00B37E;
    opacity: 1;
  }
  .abp-toast-container {
    top: 20px !important;
    right: 20px !important;
    bottom: auto !important;
    left: auto !important;
  }
  .ngx-datatable .ellipsis-cell {
    overflow: hidden !important;
  }

  .ngx-datatable .ellipsis-cell .datatable-body-cell-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* fix flex layout */
  .ngx-datatable .datatable-body-cell {
    overflow: hidden;
  }
//  .lpx-footbar{
//   display: none !important;
//  }
}
