<div class="drawer-overlay" *ngIf="isOpen" (click)="onOverlayClick()"></div>

<div class="drawer" [class.drawer-open]="isOpen" [style.width]="drawerWidth">
  <div class="drawer-header">
    <h5>{{ title | abpLocalization }}</h5>
    <button type="button" class="btn-close" (click)="onClose()"></button>
  </div>

  <div class="drawer-body">
    <ng-content></ng-content>
  </div>

  <div class="drawer-footer" *ngIf="showFooter">
    <ng-container *ngIf="hasCustomFooter; else defaultFooter">
      <ng-container *ngTemplateOutlet="customFooter"></ng-container>
    </ng-container>
    
    <ng-template #defaultFooter>
      <button type="button" class="btn btn-secondary" (click)="onClose()">
        {{ cancelButtonText | abpLocalization }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSave()"
        [disabled]="saveDisabled"
      >
        {{ saveButtonText | abpLocalization }}
      </button>
    </ng-template>
  </div>
</div>